# Python
__pycache__/
*.py[cod]
*.pyo

# Entorno virtual
.venv/
venv/

# Django
db.sqlite3
*.log

# Variables de entorno
.env

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
